{% extends "base3.html" %}


{% block head %}
    <title>Cashier</title>
{% endblock %}


{% block body %}

    <br><br>
    <div class="jumbotron alert alert-primary">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome Cashier</h1>
        <br>
        <p style="whith-space:pre-wrap">    You can create manage account deposits, withdrawals and transfers.</p>
        <p style="whith-space:pre-wrap">    You can also generate account statements.</p>
      </div>
    </div>


{% endblock %}