{% extends "base2.html" %}


{% block head %}
    <title>Status of Accounts</title>
{% endblock %}


{% block body %}

<div class="jumbotron">
<h4>Account Status...</h4> <hr><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Customer ID</th>
      <th scope="col">Account ID</th>
      <th scope="col">Account Type</th>
      <th scope="col">Balance Amount</th>
      <th scope="col">Message</th>
      <th scope="col">On</th>
      <th scope="col" colspan="2">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for t in temp%}
    <tr>
      <th scope="row">{{t.ahol}}</th>
      <td>{{t.aid}}</td>
      <td>{{t.atyp}}</td>
      <td>{{t.amt}}</td>
      <td>{{t.amsg}}</td>
      <td>{{t.adate}}</td>
      <td><a class="btn btn-info" href="/details_account/{{t.aid}}">View Details</a></td>
    </tr>
    {% endfor%}
  </tbody>
</table>
</div>

{% endblock %}